// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$script-font-family: 'Savoye LET';
$serif-font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$sans-serif-font: Lato;

// Official wedding color palette!
$wedding-blue: #5785a1;
$wedding-yellow: #f0cf75;
$wedding-pink: #f5e1e1;
$wedding-green: #ebf0b8;

$path_width: 2px;